h1{
    font-size: 80px;
    color: #004d2a;
    font-weight: bold;
    line-height: 50px;
}
h5{
    font-weight: bold;
}
.btn-home{
    font-weight: bold;
    background-color: #004d2a;

}

@media (max-width: 500px){
    .hide-img-home{
        display: none !important;
    }
}