/* .sidebar{
    max-width: 280px;
    font-size: 20px;
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 100vh;
   
}
.list-group{
padding-top: 20px;

}
.list-group-item{
border:none;
padding-top: 15px;

}
.bi-house-door, .bi-mortarboard, .bi-card-list, .bi-card-text{
    margin-right: 10px;
    background-color: #004d2a91 ;
    color: white;
    padding: 3px 6px;
    border-radius: 8px;
} */