.container-form-login{
    background-color: #fff;
    width: 450px;
    height: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.logo-login{
    width: 200px;
}
h1{
    text-transform: uppercase;
    color:#004d2a;
    font-weight: bold;
    
}
.btn-link-cadastro{
    color:#2B9EB3;
    font-weight: bold;

}
.btn-entrar{
    width: 100%;
    background-color:#004d2a;
    font-weight: bold;
    color:#fff;
}
.btn-entrar:hover{
    background-color:#01361e;
    color:#fff;
    width: 155px;


}